<div class="aboutus">

  <div class="aboutus-content">
    <div class="col-6" id="col-6-1">
      <p>關於我們</p>
    </div>
    <div class="col-6" id="col-6-2">
      <div class="col-3" id="col-3-1">
        <%= image_tag ("col-3-1.jpg")%>
      </div>
      <div class="col-3" id="col-3-2">
        <p>圖片</p>
      </div>
      <div class="col-3" id="col-3-3">
        <p>圖片</p>
      </div>
      <div class="col-3" id="col-3-4">
        <p>圖片</p>
      </div>


    </div>
  </div>
  <div class="aboutus-img">
  <%= image_tag ("aboutus.jpg")%>
</div>




</div>
