
<section class="banner">

<div  id="video-container" >
<%= video_tag(["indoormarket.mp4"], :autoplay => true, :loop => true) %>
</div>
  <div class="intro-text">
    <h1>START YOUR NEXT ADVENTURE WITH TRADRING</h1>
    <p>國際知名翻譯公司 -WritePath-合作夥伴為您提供可信賴的經商口譯嚮導，讓您放心南向拓展商業版圖</p>
  </div>


</section>
