
 <!-- Page Content -->
 <div class="container">

     <!-- Page Header -->
     <div class="row">
         <div class="col-lg-12">
             <h1 class="page-header">產業專欄文章
                 <small>-關於東協當地最直接的產業資訊</small>
             </h1>
         </div>
     </div>
     <!-- /.row -->

     <!-- Projects Row -->
     <div class="row">
       <% @posts.each do |post| %>
         <div class="col-md-6 portfolio-item">
           <%= link_to post_path(post) do %>
            <%= image_tag post.image class: 'image-responsive' %><br>
            <%= post.title %>
           <% end %>
         </div>
         <% end %>
     </div>
     <!-- /.row -->

     <hr>

     <!-- Pagination -->
     <div class="row text-center">
         <div class="col-lg-12">
             <ul class="pagination">
                 <li>
                     <a href="#">&laquo;</a>
                 </li>
                 <li class="active">
                     <a href="#">1</a>
                 </li>
                 <li>
                     <a href="#">2</a>
                 </li>
                 <li>
                     <a href="#">3</a>
                 </li>
                 <li>
                     <a href="#">4</a>
                 </li>
                 <li>
                     <a href="#">5</a>
                 </li>
                 <li>
                     <a href="#">&raquo;</a>
                 </li>
             </ul>
         </div>
     </div>
     <!-- /.row -->

     <hr>

 </div>
 <!-- /.container -->
