<div class="service">
      <img><%= image_tag ("service.jpg")%></img>

      <div class="service-content">
          <a href="">

            <div class="col-4 animated infinite fadeInDown">
            <ul>
                <li>專業口譯服務</li>
                <li>南向行程安排</li>
                <li>隨行嚮導陪同</li>
            </ul>
          </div></a>

          <a><div class="col-4 animated infinite fadeInDown">
            <ul>
                <li>行前文件翻譯</li>
                <li>當地夥伴媒合</li>
                <li>市場專業評估</li>
            </ul>
          </div></a>

          <a><div class="col-4 animated infinite fadeInDown">
            <ul>
                <li>專業口譯服務</li>
                <li>南向行程安排</li>
                <li>隨行嚮導陪同</li>
            </ul>
          </div>
        </a>
  </div>


</div>
